:root {
--ungu-muda:#e6dbff;
--ungu:#b899ff;
--pink-muda:#ffe3f2;
--pink:#ff9ac6;
--putih:#ffffff;
}

body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(
135deg,
var(--ungu-muda),
var(--pink-muda)
);
}

/* NAVBAR */
nav{
background:linear-gradient(90deg,var(--ungu),var(--pink));
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
font-weight:bold;
}

/* CARD */
.container{
width:80%;
margin:auto;
margin-top:50px;
background:var(--putih);
padding:40px;
text-align:center;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* INPUT */
input{
padding:12px;
margin:10px;
width:220px;
border-radius:8px;
border:2px solid var(--ungu-muda);
}

/* BUTTON */
button,.btn{
background:linear-gradient(90deg,var(--ungu),var(--pink));
color:white;
border:none;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
text-decoration:none;
}

/* TEXT */
h1{color:var(--ungu);}
h2,h3{color:var(--pink);}